<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/home.css') }}">
    <title>Home</title>
    
    <style>
        
    </style>
</head>
<body>
    

    <div id="mainContainer">
        <div id="photoContainer">
            <img id="productImage" src="data:image/jpeg;base64,{{ img_data }}">
        </div>
        <div id="productDetails">
                <p class='prDetails' id="prName">Product Name: {{data['name']}}</p>
                <p class='prDetails' id="prPrice">Product Price: Rs {{data['productPrice']}}</p>
                <p class='prDetails' id="prQuant">Product Quantity: {{data['productQuantity']}} Kg</p>
        </div>
    </div>
    <button id="checkoutButton">CHECKOUT</button>
    </body>
</html>