#mainContainer{
    background-color:rgb(202, 202, 202);
    height: 450px;
    width: 100%;
    display: inline-flex;
    margin-top: 5%;
}
#photoContainer{
    
    width: 35%;
    height: 450px;
    margin-right: 5%;
    margin-left: 5%;
}
#productDetails{
    width: 50%;
    height: 450px;
    background-color: rgb(202, 202, 202);
    
}
#productImage{
    width: 475px;
    height: 450px;
}
.prDetails{
    font-size: 40px;
    font-weight:200;
}
#prName{
    margin-top: 15%;
}
body{
    background-color: rgb(202, 202, 202);
}
#checkoutButton{
    background-color: black;
    color: white;
    width: 350px;
    height: 50px;
    font-size: 35px;
    border-radius: 15px;
    border-width: 0px;
    margin-left: 60%;
}