/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.mainProductContainer{
  background-color: rgb(224, 224, 224);
  display: grid;
  grid-template:500px 100px / 500px 500px ;
  padding-top: 50px;
  
  
}
.mainProductImage{
  width: 450px;
  height: 400px;
  grid-row: 1;
  /* padding-left: 35px; */
  padding-left: 35px;
  
}
.mainProductDetails{
  grid-row: 1;
  grid-column: 2;
  background-color: rgb(224, 224, 224);
}
.mainProductName{
  padding-top: 60px;
  padding-left: 20px;
  font-size: 25px;
}
.mainProductQty{
  padding-left: 20px;
  font-size: 25px;
}
.mainProductPrice{
  padding-left: 20px;
  font-size: 25px;
}
body{
  background-color: rgb(224, 224, 224);
}
.productsContainer{
  
  grid-column: 2;
  background-color: rgb(224, 224, 224);
  border: solid 1px;
  
}
.mainContainer{
  display: grid;
  grid-template: 655px/ 1000px 362px;
}

.productCardContainer{
  background-color:rgb(224, 224, 224);
  display: grid;
  padding: 1.5px;
  margin: 1.5px;
  grid-template:1fr/ 1fr 2fr;
  border: solid 1px;
  border-radius: 5px;
}
.ProductCardImage{
  width:140px;
  height: 125px;
  grid-column: 1;
  padding: 0.5px;
  
}
.productCardDetails{
  grid-column: 2/3;
  padding-left: 5px;
}
.ProductCardName{

}
.ProductCardQty{

}
.ProductCardPrice{

}
.totalPrice{
  
  margin-left: 450px;
  font-size: 50px;
  margin-top: 0px;
  padding-top: 0px;
  font-weight: bold;
}
.totalPriceContainer{
  background-color: rgb(224, 224, 224);
  grid-column: 1 /-1;
}